# Oryginalne modele GLB - nie wrzucać do repo!
assets/models/sources/

# Zakodowane modele SGM - trzymamy tylko lokalnie
assets/models/*.sgm

# Node
node_modules/

# System
.DS_Store
Thumbs.db

# Stare archiwum
*.zip
